{% extends 'base.html' %}
{% load static %}

{% block title %}Chaisart creations | About {% endblock title %}
{% block short %}About{% endblock short %}


{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/templatemo-sixteen.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.css' %}">
{% endblock css %}

{% block body %}

<!--About -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
   <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
      <div class="about-innergrid-agile text-center">
         <!-- <h4>Welcome To Our Store</h4> -->


         <div class="best-features about-features">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="section-heading">
                        <h2>Our Background</h2>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="right-image">
                        <img class="img-fluid img-thumbnail" src="{% static 'images/about_edited.jpg' %}" alt="">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="left-content">
                        <br>
                        <h4>We give a second life to old chairs</h4>
                        <br>
                        <p>An accent chair, can be an extra place to sit but it can be much more. It is a way to reveal
                           a color of your personality, arouse curiosity and why not envy. Clever eclectic mixes are
                           popular in a warm decor.
                           <br><br>Each chair is unique, it is created in our workshop. The choice of fabrics, the
                           solidity of the chairs, its originality, its playful and artistic aspect are essential
                           elements for us.
                        </p>
                        <ul class="footer-social text-left mt-lg-4 mt-3">
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-facebook-f"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-twitter"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-google-plus-g"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-linkedin-in"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fas fa-rss"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="best-features about-features">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="section-heading">
                        <!-- <h2>Our Background</h2> -->
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="left-content">
                        <!-- <h4>Who we are &amp; What we do?</h4> -->
                        <br>
                        <br>

                        <p>A second life is given to beautiful old chairs. They are covered with whimsical and original
                           fabrics. The backs of some chairs are hand painted by our artist Joanne.
                           <br><br>
                        <ul class="footer-social text-left mt-lg-4 mt-3">
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-facebook-f"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-twitter"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-google-plus-g"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-linkedin-in"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fas fa-rss"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="right-image">
                        <img class="img-fluid img-thumbnail" src="{% static 'images/about1.jpg' %}" alt="">
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>

         <div class="best-features about-features">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="section-heading">
                        <!-- <h2>Our Background</h2> -->
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="right-image">
                        <img class="img-fluid img-thumbnail" src="{% static 'images/about3.jpg' %}" alt="">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="left-content">
                        <br>
                        <h4>Who are we? </h4>
                        <br>
                        <p>We are two sisters, Johanne and Martine, passionate about original and heterogeneous decor arrangements. During the pandemic, we were looking for a project to combine our experience, our originality and our talents. The idea of ​​creating unique accent chairs that become distinctive decorative objects that you love at first glance has become our creative goal.
                           We fall in love with every chair.
                           <br><br>For us, this is the guarantee that you will like them.
                           </p>
                        <ul class="footer-social text-left mt-lg-4 mt-3">
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-facebook-f"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-twitter"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fab fa-google-plus-g"></span>
                              </a>
                           </li>
                           <li class="">
                              <a href="#">
                                 <span class="fab fa-linkedin-in"></span>
                              </a>
                           </li>
                           <li class="mx-1">
                              <a href="#">
                                 <span class="fas fa-rss"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>




<br>
<br>

      </div>
   </div>

   </div>
</section>
<!--//about -->


{% endblock body %}



{% block script %}


<!--js working-->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!--//js working-->

<!-- cart-js -->
<script src="{% static 'js/minicart.js' %}"></script>
<script>
   toys.render();

   toys.cart.on('toys_checkout', function (evt) {
      var items, len, i;

      if (this.subtotal() > 0) {
         items = this.items();

         for (i = 0, len = items.length; i < len; i++) { }
      }
   });
</script>
<!-- //cart-js -->
{% endblock script %}