{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
   <title>{% block head_title %}{% endblock %}</title>

   {% block extra_head %}
   {% endblock %}

   <!--meta tags -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="keywords"
      content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />




   <script>
      addEventListener("load", function () {
         setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
         window.scrollTo(0, 1);
      }
   </script>


   <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
               var cookie = cookies[i].trim();
               // Does this cookie string begin with the name we want?
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
               }
            }
         }
         return cookieValue;
      }
      var csrftoken = getToken('csrftoken')

   </script>
   <!--//meta tags ends here-->
   <!--booststrap-->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
   <!--//booststrap end-->

   <!-- font-awesome icons -->
   <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
   <!-- //font-awesome icons -->

   <!--Shoping cart-->
   <link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css" />
   <!--//Shoping cart-->

   <!--stylesheets-->
   <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
   <!--//stylesheets-->
   <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
   <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

   {% block css %}

   {% endblock css %}
</head>


<body>
   <div class="header-outs" id="home">
   {% include 'base_header.html' %}
   {% include 'base_banner.html' %}
   </div>

   <!-- short -->
   <div class="using-border py-3">
      <div class="inner_breadcrumb  ml-4">
         <ul class="short_ls">
            <li>
               <a href="/">Home</a>
               <span>/ /</span>
            </li>
            <li>{% block short %}{% endblock short %}</li>
         </ul>
      </div>
   </div>
   <!-- //short-->

   <div>

      {% if messages %}

      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endfor %} 

   {% endif %}
   </div>

   {% block body %}

   {% endblock body %}


   {% block extra_body %}
   {% endblock extra_body %}



   {% block extra_scripts %}
   {% endblock extra_scripts %}

  {% include 'base_footer.html' %}

   <!-- Modal 1-->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Login</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="register-form">
                  <form action="#" method="post">
                     <div class="fields-grid">
                        <div class="styled-input">
                           <input type="text" placeholder="Your Name" name="Your Name" required="">
                        </div>
                        <div class="styled-input">
                           <input type="email" placeholder="Your Email" name="Your Email" required="">
                        </div>
                        <div class="styled-input">
                           <input type="password" placeholder="password" name="password" required="">
                        </div>
                        <button type="submit" class="btn subscrib-btnn">Login</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <!-- //Modal 1-->




   {% block script %}

   {% endblock script %}




   <!-- start-smoth-scrolling -->
   <script src="{% static 'js/move-top.js' %}"></script>
   <script src="{% static 'js/easing.js' %}"></script>
   <script>
      jQuery(document).ready(function ($) {
         $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
               scrollTop: $(this.hash).offset().top
            }, 900);
         });
      });
   </script>
   <!-- start-smoth-scrolling -->

   <!-- here starts scrolling icon -->
   <script>
      $(document).ready(function () {

         var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };


         $().UItoTop({
            easingType: 'easeOutQuart'
         });

      });
   </script>
   <!-- //here ends scrolling icon -->

   <!--bootstrap working-->
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- //bootstrap working-->

   <!-- //OnScroll-Number-Increase-JavaScript -->

   <!-- Add to cart to model  -->
   <script type="text/javascript" src="{% static 'js/cart.js' %}">

   </script>

</body>

</html>