{% extends 'base.html' %}
{% load static %}

{% block title %}Chaisart creations|Service{% endblock title %}
{% block short %}Service{% endblock short %}

{% block css %}

{% endblock css %}

{% block body %}

      <!--service -->
      <section class="service py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Services</h3>
            <div class="row text-center">
               <div class="col-lg-4 col-md-6 abut-gride">
                  <span class="fas fa-truck"></span>
                  <h5>Shipping</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
               <div class="col-lg-4 col-md-6 abut-gride">
                  <span class="fas fa-phone-volume"></span>  
                  <h5>Support</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
               <div class="col-lg-4 col-md-6 abut-gride">
                  <span class="fas fa-undo"></span>
                  <h5> Return</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
               <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                  <span class="fas fa-money-bill-alt"></span>
                  <h5>Online Cash</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
               <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                  <span class="fas fa-exchange-alt"></span>
                  <h5>Exchange</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
               <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                  <span class="fas fa-thumbs-up"></span>
                  <h5>Quality</h5>
                  <p class="mt-3"> velit sagittis vehicula. Duis posuere 
                     ex in mollis iaculis. Suspendisse tincidunt
                  </p>
               </div>
            </div>
         </div>
      </section>
      <!--//service -->	 
 

      {% endblock body %}
  


      {% block script %}
      <!--js working-->
      <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
      <!--//js working-->
      <!-- cart-js -->
      <script src="{% static 'js/minicart.js' %}"></script>
      <script>
         toys.render();
         
         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;
         
         	if (this.subtotal() > 0) {
         		items = this.items();
         
         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!-- //cart-js -->
      {% endblock script %}